body {font-size:14px;}
#search {border-bottom:1px solid #aaa;font-size:12px;margin-bottom:10px;}
.result {border:1px solid #ccc;padding:2px;font-size:14px;}
.timer {font-size:10px;clear:both;}
.hidden {display:none;}
